<!-- User > Library > Preferences > com.teamviewer.teamviewer.preferences.Machine -->

<dict>
	<key>Always_Online</key>
	<integer>1</integer>
	<key>PermanentPassword</key>
	<data>f7cnLMPsh7p6HCMXXHsWlmXfiHYST4251jdv4dPFzXe2gUEspu0o+X9Bwl4mhmJ3xhKyCb3WHpJl3Vci6ieTrXZ/KIWi9+cre/WWaYIioJdvVwHJd2+7PJo+MIxPhJhk05pVu9Am/NbAqtY17aEKzgeUCAGdeISiMFY7pu3O7kdpT+Klk5cBoJBU4RvF6hMwDE7EHMNpziiK16HiY5Bxi92nxAQkB6Ss99M4AtCg92zaashPCtmTUxWJT4y2d1tsw4EVKAXJj2Q7jiQI2iRmCHH1t5DcHko9x8ntVyNgMvy/POemIRo0Ni33L0a6QvpftAX9iDReGN+14/SHZW7LAtNppE6qvCD2KF7dB8tgTVdQwsb1tfH1cED0Up7n2M0yxyVfR4vrRUgwa3HPh1Yw7Q==</data>
	<key>PermanentPasswordDate</key>
	<string>20221020T160034</string>
</dict>

